@font-face {
	font-family: 'Eveleth Clean Thin';
	src: url('fonts/Yellow Design Studio - Eveleth Clean Thin.eot');
	src: local('☺'), url('fonts/Yellow Design Studio - Eveleth Clean Thin.woff') format('woff'), url('fonts/Yellow Design Studio - Eveleth Clean Thin.ttf') format('truetype'), url('fonts/Yellow Design Studio - Eveleth Clean Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}